---
import Layout from "~/layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import Header from "~/components/widgets/Header.astro";
import { headerData } from "~/data";
const meta = {
  title: "Learn more",
  description: "In this short video we will explain you our hybrid model.",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="right" />
  </Fragment>
  <section
    class="relative h-300 md:h-200 md:-mt-20 xl:-mt-20 bg-cover bg-center mb-16"
    style="background-image: url('/images/cta/cta-coverr1.jpg');  box-shadow: 0px 12px 10px 0px #0084b8;  "
  >
    <div
      class="absolute w-full h-full inset-0 opacity-60"
      style="background-image: linear-gradient(
      0deg,
      hsl(193deg 100% 29%) 0%,
      hsl(193deg 100% 29%) 13%,
      hsl(193deg 100% 29%) 25%,
      hsl(198deg 100% 18%) 37%,
      hsl(0deg 0% 0%) 50%,
      hsl(339deg 0% 0%) 63%,
      hsl(0deg 0% 0%) 75%,
      hsl(339deg 0% 0%) 87%,
      hsl(0deg 0% 0%) 100%
      );
      "
    >
    </div>

    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 pt-12">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div class="py-4 md:py-8">
        <div class="text-center max-w-screen-lg mx-auto">
          <p
            class="info-secondary-title text-xs md:text-base w-full md:max-w-lg mx-auto"
          >
            <span class="text-white select-none"
              >Lasts until end of cyber-security month!</span
            >
          </p>
          <h1
            class="cover-title text-5xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
          >
            Time Travel to a Secure Startup
          </h1>
        </div>
      </div>
    </div>
  </section>
  <div class="max-w-6xl mx-auto p-4">
    <div class="grid md:grid-cols-3 h-1/2 gap-8">
      <div class="w-full h-full p-8 rounded-xl secondary-shadow bg-paper">
        <h1 class="text-xl leading-6 mb-4 text-secondary">
          Focus On Customer Satisfaction?
        </h1>
        <p class="text-lg w-full md:w-full">
          Let's be honest. If you hadn't adhered to these principles, you
          wouldn't be on this page, living your dream life. Unfortunately, the
          brand you were building could vanish in mere seconds.
        </p>
      </div>
      <div class="w-full h-full p-8 rounded-xl secondary-shadow bg-paper">
        <h1 class="text-xl leading-6 mb-4 text-secondary">
          What's The Solution?
        </h1>
        <p class="text-lg w-full md:w-full">
          As former startup founders, we understand what's going on inside your
          head right now. You're seeking high-quality and straightforward
          solutions to rectify years of underdeveloped security. We are here to
          help you
        </p>
      </div>
      <div class="w-full h-full p-8 rounded-xl secondary-shadow bg-paper">
        <h1 class="text-xl leading-6 mb-4 text-secondary">Why the discount?</h1>
        <p class="text-lg w-full md:w-full">
          Because it is the Cyber month we are providing all of these services
          with the <span class="text-secondary font-bold">100% discount.</span> We
          belive in providing value first. We are not stupid we also are here to
          make money. But we are looking to establish <span
            class="text-secondary font-bold">relationships first.</span
          >
        </p>
      </div>
    </div>
    <div
      id="scrollToOptButton"
      class="cursor-pointer mx-auto mt-12 cta-button-secondary-sm w-52 flex items-center justify-center gap-x-4"
    >
      <p>The Formula</p>
      <span
        class={`rotate-0 fill-[#212529]  dark:fill-white
      } ml-auto h-5 w-5 shrink-0 fill-[#336dec] transition-transform duration-200 ease-in-out motion-reduce:transition-none dark:fill-blue-300`}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
        </svg>
      </span>
    </div>
  </div>

  <div class="max-w-xl mx-auto lg:max-w-2xl my-24">
    <div
      class="mb-10 md:mx-auto flex text-center p-4 gap-y-2 items-center justify-center flex-col md:mb-12 max-w-4xl"
    >
      <p class="info-secondary-title text-xs md:text-base">
        Lasts until end of cyber-security month!
      </p>
      <h2 class="sub-title" id="opt-page">The Offer</h2>
    </div>
    <div class="max-w-4xl mx-auto p-8">
      <ul style="list-style-type: disc;" class="w-full">
        <li class="text-xl mb-4 text-muted">
          Web/Mobile Vulnerability Assessment for up to 3 projects <span
            class="text-secondary stroke-current"
            >(Averaging at $8,000 per assessment)
          </span>
        </li>
        <li class="text-xl mb-4 text-muted">
          Internal Network Vulnerability Assessment <span
            class="text-secondary stroke-current">(Averaging at $6,000)</span
          >
        </li>
        <li class="text-xl mb-4 text-muted">
          External Network Vulnerability Assessment <span
            class="text-secondary stroke-current">(Averaging at $3,000)</span
          >
        </li>
        <li class="text-xl mb-4 text-muted">
          Social Engineering Test + Education
          <span class="text-secondary stroke-current"
            >(Averaging at $2,000)</span
          >
        </li>
        <li class="text-xl mb-4 text-muted">
          Google Cloud Security Audit <span
            class="text-secondary stroke-current">(Averaging at $3,000)</span
          >
        </li>
        <li class="text-xl mb-4 text-muted">
          Daily Progress Tracking + Content For Vulnerability Remedy <span
            class="text-secondary stroke-current"
          >
            (Streamline vulnerability remediation and save valuable developer
            time)
          </span>
        </li>
        <li class="text-xl mb-4 text-muted">
          Pipeline & Infrastructure Audit/Review + DevSecOps Education <span
            class="text-secondary stroke-current"
          >
            (Averaging at $3,000)</span
          >
        </li>
        <li class="text-xl mb-4 text-muted">24/7 progress tracking</li>
      </ul>
    </div>
    <Picture
      src={"/images/cta/icon-ctaaa1.png"}
      class="mx-auto md:rotate-6 col-span-4 rounded-xl my-12"
      width={400}
      height={400}
      widths={[400, 768]}
      sizes="100vw, 432px"
      aspectRatio="300:300"
      alt="sa"
    />
    <div class="flex flex-col gap-y-4 items-center p-8 text-center">
      <p class="text-xl">We're handling only 2 clients per month.</p>
      <p class="text-xl italic">
        If you dought our quality <a
          href="/story-type/case-study"
          class="text-secondary">Case study</a
        >
      </p>
      <a class="cta-button-secondary-sm md:w-80" href="/book-a-meeting"
        >Reserve Your Spot</a
      >
    </div>
  </div>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const scrollToOptButton = document.getElementById("scrollToOptButton");
    const OptSection = document.getElementById("opt-page");
    scrollToOptButton.addEventListener("click", function () {
      // Scroll to the Opt section using smooth behavior
      OptSection.scrollIntoView({ behavior: "smooth" });
    });
  });
</script>
