---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import { Picture } from "@astrojs/image/components";
import CallPage from "../components/CallPage";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-4 md:py-8">
      <div class="text-center max-w-screen-lg mx-auto">
        <h1
          class="cover-title text-ibm-black text-5xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          Free <span class="text-primary">hybrid</span> strategy call.
        </h1>
      </div>
    </div>
    <form
      class="max-w-5xl mx-auto relative bg-paper rounded-xl p-4 py-12 px-10"
    >
      <CallPage client:only />
    </form>
  </div>
</Layout>
