---
import Layout from "~/layouts/PageLayout.astro";

import Header from "~/components/widgets/Header.astro";
import Hero from "~/components/widgets/Hero.astro";
import Calendly from "../components/Calendly.astro";
import { headerData } from "~/data";

const meta = {
  title: "Starship Shield Hybrid Assessment",
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="right" />
  </Fragment>

  <!-- <Hero>
    <Fragment slot="title">
      <span class="text-accent highlight mb-1"></span>
    </Fragment>
    <Fragment slot="content"></Fragment>
  </Hero> -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 pt-12">
    <h1
      class="cover-title text-center text-black text-5xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
    >
      What time fits you?
    </h1>
  </div>
  <div>
    <div class="flex w-full justify-center items-center mt-4 p-4">
      <div class="max-w-4xl my-8 p-6 bg-paper border rounded-xl shadow">
        <p class="w-full font-bold text-left text-2xl md:text-4xl">
          Quick reminder
        </p>

        <ul class="mt-4 text-left">
          <li class="mb-2 md:mb-4 text-lg md:text-xl">
            ✅ <span class="ml-2 md:ml-4">We are not offering reschedules.</span
            >
          </li>
          <li class="mb-2 md:mb-4 text-lg md:text-xl">
            ✅ <span class="ml-2 md:ml-4"
              >On the 15-minute call we will present a custom tailored security
              sollution.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class=""><Calendly /></div>
</Layout>
