---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import emailjs from "@emailjs/browser";
import { Picture } from "@astrojs/image/components";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-4 md:py-8">
      <div class="text-center max-w-screen-lg mx-auto">
        <p class="info-title text-xs md:text-xl max-w-2xl mx-auto">
          Need a top-notch security report?
        </p>
        <h1
          class="cover-title text-ibm-black text-5xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          3 Steps on how to make a good security assessment <span
            class="text-primary">scope</span
          >
        </h1>
        <p
          class="text-ibm-black text-base break-line text-center leading-tight max-w-lg mx-auto"
        >
          Less Headaches, more time on preparing on a security assement FAST.
          Even if you are not a technical person : )
        </p>
      </div>
    </div>
  </div>
  <!-- the modal-->

  <div
    class="mt-32 relative gap-y-8 grid grid-cols-1 md:grid-cols-2 p-4 max-w-7xl"
  >
    <div class="flex justify-center items-center">
      <Picture
        src={"/images/pdf-report/pdf-coverr.png"}
        class="mx-auto md:rotate-6 col-span-4 rounded-xl"
        width={600}
        height={600}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
    </div>
    <div
      class="bg-paper col-span-1 h-200 w-full md:w-max p-4 rounded-xl md:p-8 md:px-16"
      id="Opt"
    >
      <div
        id="modal"
        class="absolute hidden top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 md:max-w-5xl z-50 bg-white rounded-lg shadow dark:bg-gray-700"
      >
        <div
          class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
        >
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            White paper successfully sent
          </h3>
          <button
            id="close_modal"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="staticModal"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
            </svg>
            <span class="sr-only">How to define a scoe</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
          <p
            id="modal-content"
            class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
          >
            The paper is sucssefully sent on your email. If you can not see the
            white paper check your spam folder.
            <br class="mt-8" /> If this does not work conact us at: <a
              class="text-primary"
              href="mailto:info@starshipshield.com">info@starshipshield.com</a
            >.
          </p>
        </div>
        <!-- Modal footer -->
      </div>
      <div class="flex flex-col justify-center items-center w-full md:w-96">
        <h1 class="sub-title text-center text-xl md:text-2xl">
          Enter you details so we can send you the pdf.
        </h1>
        <form class="flex w-full flex-col gap-y-2" id="contactForm">
          <label for="name">Name</label>
          <input
            placeholder="Name Surname"
            class="rounded-full w-full p-2 md:p-4"
            type="text"
            id="name"
            name="name"
          />

          <label for="email">Email</label>
          <input
            placeholder="example@buisnessemail.com"
            class="rounded-full w-full p-2 md:p-4"
            type="email"
            id="email"
            name="email"
          />

          <label for="phone">Phone Number</label>
          <input
            class="rounded-full w-full p-2 md:p-4"
            type="text"
            id="phone"
            name="phone"
            placeholder="(123-45-678)"
          />

          <button
            type="submit"
            class="shadow-none cta-button-lg mx-auto md:w-72 my-4"
            >Send me the white paper</button
          >
        </form>
        <p class="text-xl text-center text-paper">
          P.S. Say goodbye to miscomunication with any cyber-sec team.
        </p>
        <p class="text-xs text-center">
          YOUR INFORMATION IS 100% SAFE. WE NEVER SHARE YOUR INFORMATION WITH
          ANYONE. BY CLICKING “SUBMIT” I AGREE TO RECEIVE AUTO AND PRE-MADE
          E-MAILS AT THE E-MAIL PROVIDED. I UNDERSTAND THAT MY CONSENT IS NOT A
          CONDITION TO PURCHASE ANYTHING.
        </p>
      </div>
    </div>
  </div>
  <div
    class="mt-32 max-w-7xl mx-auto flex text-center flex-col justify-center items-center"
  >
    <p class="info-title max-w-md mx-auto">#SecurityRules</p>
    <h2 class="sub-title">What make's a good security scope</h2>
  </div>
  <!-- one rule -->
  <div class="grid h-200 grid-cols-1 md:grid-cols-3 gap-8 p-4">
    <div class="p-4 md:py-8 md:px-16 bg-paper rounded-xl text-center">
      <Picture
        src={"/images/pdf-report/card-pdff1.png"}
        class="rounded-xl mx-auto"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
      <h3 class="text-xl font-bold leading-tight sm:text-2xl font-heading">
        <a class="transition ease-in duration-200">WHAT NEEDS TO BE ASSESSED</a>
      </h3>
      <p class="text-muted text-lg">
        This early stage improves how you work with a penetration testing
        partner. By aligning your view with an external specialist, you can
        create a clear plan for a strong security project.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center p-4 md:p-8 md:px-16 bg-paper rounded-xl text-center"
    >
      <Picture
        src={"/images/pdf-report/card-pdff2.png"}
        class="rounded-xl"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
      <h3 class="text-xl font-bold leading-tight sm:text-2xl font-heading">
        <a class="transition ease-in duration-200 uppercase">
          The Attack Surface</a
        >
      </h3>
      <p class="text-muted text-lg">
        Finding the ways that bad actors could use to get into your sensitive
        data or harm your business. Basically, it means gathering a lot of
        information about your company and its online setup. These are the main
        areas we focus on during a penetration test.
      </p>
    </div>
    <div
      class="flex flex-col items-center justify-center p-4 md:p-8 md:px-16 bg-paper rounded-xl text-center"
    >
      <Picture
        src={"/images/pdf-report/card-pdff3.png"}
        class="rounded-xl"
        width={300}
        height={300}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="300:300"
        alt="sa"
      />
      <h3 class="text-xl font-bold leading-tight sm:text-2xl font-heading">
        <a class="transition ease-in duration-200"
          >CHOOSING THE RIGHT APPROACH</a
        >
      </h3>
      <p class="text-muted text-lg">
        The type of company, its industry, security issues, and past security
        history all guide which areas to focus on during a pentest. The chosen
        targets also affect how the test is done (black, gray, or white box),
        how long it takes, and how often it's done.
      </p>
    </div>
    <div
      class="col-span-1 md:col-span-3 w-full flex justify-center items-center"
    >
      <button class="cta-button-lg mx-auto md:w-72 mt-8" id="scrollToOptButton"
        >Yes send me the paper.</button
      >
    </div>
  </div>
  <div class="mt-32 w-full relative">
    <div
      class="w-full max-w-4xl md:mx-auto flex flex-col justify-center items-center gap-y-4 p-4"
    >
      <p class="info-title text-center max-w-md">What are you waiting for?</p>
      <h2 class="sub-title text-center">
        Here's Everything You're Getting When You download the paper Today...
      </h2>
      <p
        class="text-ibm-black text-base break-line text-center leading-tight max-w-lg mx-auto"
      >
        We Can't Wait For You To Experience First Hand How easy it is to make a
        good scope.
      </p>

      <Picture
        class="mx-auto rounded-xl border-1 border-ibm-black border"
        width={600}
        height={500}
        widths={[400, 768]}
        sizes="100vw, 432px"
        aspectRatio="1600:900"
        alt="sa"
        src={"/images/pdf-report/card-pdf3.jpg"}
      />
      <div class="mb-8 max-w-lg">
        <ul class="text-left">
          <li class="mb-2 md:mb-4 text-base md:text-lg">
            ✅ <span class="ml-2 md:ml-4"
              >Black Box, Grey Box, White Box Approach</span
            >
          </li>
          <li class="mb-2 md:mb-4 text-base md:text-lg">
            ✅ <span class="ml-2 md:ml-4"
              >Specific use cases for: Software Development Company, SMB's,
              Large Companies
            </span>
          </li>
          <li class="mb-2 md:mb-4 text-base md:text-lg">
            ✅ <span class="ml-2 md:ml-4">Time Estimation</span>
          </li>
        </ul>
        <div class="w-full flex justify-center">
          <button
            class="cta-button-lg cursor-pointer mx-auto md:w-72 mt-8"
            id="scrollToOptButton2">Yes send me the paper.</button
          >
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const scrollToOptButton = document.getElementById("scrollToOptButton");
      const scrollToOptButton2 = document.getElementById("scrollToOptButton2");

      const OptSection = document.getElementById("Opt");

      scrollToOptButton.addEventListener("click", function () {
        // Calculate the target position of the Opt section
        const targetPosition = OptSection.offsetTop;

        // Scroll to the Opt section using smooth behavior
        window.scrollTo({
          top: targetPosition,
          behavior: "smooth",
        });
      });
      scrollToOptButton2.addEventListener("click", function () {
        // Calculate the target position of the Opt section
        const targetPosition = OptSection.offsetTop;

        // Scroll to the Opt section using smooth behavior
        window.scrollTo({
          top: targetPosition,
          behavior: "smooth",
        });
      });
    });
    //   sending the email modal-backdrop modal-content
    const form = document.getElementById("contactForm");
    const modal = document.getElementById("modal");
    const close_modal = document.getElementById("close_modal");
    const modal_backdrop = document.getElementById("modal-backdrop");
    const modal_content = document.getElementById("modal-content");

    close_modal.addEventListener("click", async (event) => {
      modal.classList.toggle("hidden");
      modal_backdrop.classList.add("hidden");
      document.body.style.overflow = "";
    });

    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const nameInput = form.querySelector("#name").value;
      const emailInput = form.querySelector("#email").value;
      const phoneInput = form.querySelector("#phone").value;
      const apiUrl = "http://localhost:8080/api/create-user";
      const data = {
        fullName: nameInput,
        email: emailInput,
        phoneNumber: phoneInput,
      };

      try {
        const response = await fetch(apiUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });

        if (response.status === 200) {
          modal.classList.toggle("hidden");
          modal_backdrop.classList.remove("hidden");
          document.body.style.overflow = "hidden";
        } else {
          console.log(response.status);
          modal.classList.toggle("hidden");
          modal_backdrop.classList.remove("hidden");
          document.body.style.overflow = "hidden";
          modal_content.innerHTML = `
        Something went wrong while sending the white paper. Try reloading the site to fix the problem.<br/><br/>
        Please contact us at <a class='text-primary' href='mailto:info@starshipshield.com'>info@starshipshield.com</a>.
      `;
        }
      } catch (error) {
        console.error("Error:", error);
      }
    });
  </script>
</Layout>
