---
component: true;
---

<script setup>
  import { onMount } from 'astro';

  onMount(async () => {
    const script = document.getElementById('clients-left');

    document.body.appendChild(script);
  });
</script>
<!-- <div class="z-5 p-4 sticky bottom-4 left-4">
  <div
    id="clients-left"
    class="w-full md:w-1/3 h-20 bg-blue-600 p-4 shadow-lg rounded-md hover:shadow-md transition duration-300 select-none"
  >
    <div class="flex items-center mb-2 gap-x-4 justify-between">
      <span class="text-base font-bold text-white">Left spaces for free pen test</span>
      <span class="text-sm font-bold text-white">7/10</span>
    </div>
    <div class="w-full bg-blue-700 rounded-full h-2.5">
      <div class="bg-white h-2.5 rounded-full" style="width: 50%"></div>
    </div>
  </div>
</div> -->
