<div class="w-full p-4 md:p-20 mt-24 relative overflow-clip">
  <div
    style="box-shadow: -1px 3px 36px 0px rgba(105,41,196,0.75);"
    class="w-full p-4 flex relative bg-paper rounded-xl items-center justify-center flex-col h-80 overflow-clip"
  >
    <img
      src="/images/lock-image.png"
      class="absolute floater right-8 top-40 w-32 h-32 select-none hidden md:block"
    />
    <div class="info-title text-xs">Hybrid Model</div>

    <!-- <div class="blur" id="follower"></div> -->

    <p class="text-2xl text-center md:text-3xl leading-10 z-3">
      Discover new ways to amplify your security.
    </p>
    <h1 class="text-base my-4 text-center md:text-xl z-3">
      Work with us, enhance your security and retain customer satisfaction.
    </h1>
    <a class="cta-button-sm" href={"/learn-more"}>Yes, show me how!</a>
  </div>
</div>

<!-- <script>
  let timeoutId = 0;
  document.addEventListener('mousemove', (e) => {
    clearTimeout(timeoutId); // Clear any existing timeout

    timeoutId = setTimeout(() => {
      const follower = document.getElementById('follower');
      const x = e.clientX - 100;
      const y = e.clientY - 250;

      follower.style.left = `${x}px`;
      follower.style.top = `${y}px`;
    }, 003); // Set a new timeout with a delay of 300 milliseconds
  });
</script> -->
