<div class="w-full p-20 mt-32">
  <div
    style="box-shadow: -1px 3px 36px 0px rgba(105,41,196,0.75);"
    class="w-full flex gap-y-6 relative bg-paper rounded-lg items-center justify-center flex-col h-80 overflow-clip"
  >
    <div class="info-title z-1">Hybrid model</div>

    <!-- <div class="blur" id="follower"></div> -->

    <p class="text-3xl z-3">Discover new ways to enhance your security within one month</p>
    <h1 class="text-xl z-3">Did you know there are new ways to secure applications?</h1>
    <a class="cta-button-sm" href={'/about-us'}>Yes, show me how</a>
  </div>
</div>

<!-- <script>
  let timeoutId = 0;
  document.addEventListener('mousemove', (e) => {
    clearTimeout(timeoutId); // Clear any existing timeout

    timeoutId = setTimeout(() => {
      const follower = document.getElementById('follower');
      const x = e.clientX - 100;
      const y = e.clientY - 250;

      follower.style.left = `${x}px`;
      follower.style.top = `${y}px`;
    }, 003); // Set a new timeout with a delay of 300 milliseconds
  });
</script> -->
