@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  
  .info-card {
    background-color: #F4F4F4;
    border-radius: 1.2em;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3.7em 3.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    overflow: hidden;
    grid-row-gap: 2em;
    transition: box-shadow 0.3s ease-in;

  }
 .link-case-active {
    color: #fff;
    text-transform: uppercase;
    background-color: #5a36ff;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 12px 12px 12px 16px;
    transition: box-shadow .4s;
    text-align: center;
    display: block;
 }
 .link-case {
  color: #5a36ff;
  text-transform: uppercase;
  background-color: #c6c6c6;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 12px 12px 12px 16px;
  transition: box-shadow .4s;
  text-align: center;
  display: block;
}
  .info-card:hover {
    box-shadow: 14px 8px 14px 0px rgb(105, 41, 196);
  }
  .cta-button-sm {
    color: #fff;
    text-align: center;
    letter-spacing: .025em;
    background-color: transparent;
    background-image: linear-gradient(20deg,hsl(265, 63%, 26%),#6929c2);
    border-radius: 50em;
    padding: 0.8em 1.6em;
    font-family: Rohnrounded Bold,sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.2em;
    transition: box-shadow .4s cubic-bezier(.25,.46,.45,.94);
    box-shadow: 0 7px 80px -12px #6929c2, inset 0 0 rgba(19,36,54,0), inset 0 0 rgba(19,36,54,0);
}
  .cta-button-lg {
    color: #fff;
    text-align: center;
    letter-spacing: .025em;
    background-color: transparent;
    background-image: linear-gradient(20deg,hsl(265, 63%, 26%),#6929c2);
    border-radius: 50em;
    padding: 0.9em 1.8em;
    font-size: 1.42em;
    font-weight: 500;
    line-height: 1.2em;
    transition: box-shadow .4s cubic-bezier(.25,.46,.45,.94);
    box-shadow: 0 7px 80px -12px #050401, inset 0 0 rgba(19,36,54,0), inset 0 0 rgba(19,36,54,0);
}

.info-title {
  color: #6929c2;
  letter-spacing: .13em;
  text-transform: uppercase;
  background-color: rgba(105, 41, 194,0.34);
  border-radius: 50em;
  margin-bottom: 1.5em;
  padding: 0.7em 1.3em;
  font-weight: 500;
  line-height: 1.3em;
  font-family: 'Nunito', sans-serif;

}
.sub-title {
  max-width: 12.8em;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(104deg,#000,#464646);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Nunito', sans-serif;
  font-size: 3.37em;
  line-height: .9em;
}
.blur {
  z-index: 0;
    width: 70%;
    height: 70%;
    opacity: 100;
    filter: blur(30px);
    color: #b8a148;
    cursor: auto;
    background-color: #b8a148;
    background-image: linear-gradient(#b8a148,#ebda83);
    border-radius: 100%;
    margin: auto;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
  .cta-title {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 1000;

  }
  .cta-sub-title {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 400;
  }
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md  bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-accent focus:ring-2 focus:ring-offset-2 ;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted  text-gray-400 hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-accent hover:border-secondary hover:text-white;
  }

  .bg-gradient-to-center {
    backdrop-filter: blur(20px); /* Adjust the blur amount as needed */
    background: radial-gradient(#5a36ff, #F4F4F4);
  }
}

#navbar.scroll {
  @apply shadow-md md:shadow-lg ;
}

.dropdown:hover .dropdown-menu {
  position: relative;
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
