---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';
import Features2 from '~/components/widgets/Features2.astro';

const meta = {
  title: 'Free Penetration Test',
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="right" />
  </Fragment>

  <!-- hero Widget ******************* -->
  <!-- callToAction={{ text: 'What we offer', href: '', icon: 'tabler:arrow-down' }} -->
  <Hero>
    <Fragment slot="title">
      <div class="w-full h-full max-w-4xl p-4 text-center">
        <p class="w-full tracking-tight pb-4 text-xl thin md:text-3xl indent-0 text-blue-600">Alen Vlahovljak</p>
        <p class="w-full tracking-tight text-center text-5xl md:text-6xl">
          "Starship Shield has saved us from 2 major data breaches."
        </p>
      </div>
    </Fragment>
  </Hero>
  <div class="w-full flex flex-col gap-y-8 justify-center items-center -mt-16 p-4">
    <div class="w-full h-40 md:h-80 max-w-4xl">
      <iframe
        class="w-full h-full"
        src="https://www.youtube.com/embed/QelSVeRmNUQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <Fragment slot="content">
      <div
        class="block max-w-4xl p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-slate-900 dark:border-slate-300 dark:hover:bg-slate-800"
      >
        <div class="flex flex-col gap-y-6 w-full h-full text-lg">
          <p>
            Meet <b>BoostRoom</b>, another satisfied customer of ours. They are a company with a mission and vision to
            help gamers make money.
          </p>
          <p><b>1000</b> active users are happily using their website.</p>

          <p>
            <b>Alen Vlahovljak</b> - lead developer of a team with 5+ members at Boostroom. The Boostroom application was
            not tested before. Alen was confident with his team's knowledge and security measures put in place.
          </p>

          <p>
            But just before publishing, the <b>Starship Shield</b> team has found critical vulnerabilities and multiple exploitation
            points for 2 potential data breaches.
          </p>
          <p>
            Now the team is securely integrating new modules into the application every day. The application is
            monitored by <b>1000+</b> security experts every day.
          </p>

          <p>With our hybrid model, Boostroom maintains its competitive advantage and customer satisfaction.</p>
          <p>
            Our hybrid model isn't an easy button, but it does allow a focus on scaling and growing their business
            securely.
          </p>
        </div>
      </div>
    </Fragment>

    <div class="w-full max-w-4xl">
      <div class="relative group">
        <div
          class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
        >
        </div>
        <div
          class="relative px-7 py-6 ring-1 ring-gray-900/5 bg-white border-purple-600 dark:bg-slate-900 rounded-lg leading-none flex items-top justify-start space-x-6"
        >
          <div class="w-full h-full flex flex-col gap-y-8 items-center">
            <Fragment slot="title">
              <p class="w-full font-bold text-left text-2xl md:text-4xl">
                Here's Everything You're Getting When You schedule a meeting Today...
              </p>
              <span class="text-accent dark:text-white highlight mb-1 text-center text-xsm"
                >We Can't Wait For You To Experience First Hand How Much More Powerful and Complete These Systems are
                Than Anything You've Tried Before...
              </span>
              <img class="rounded-md select-none" src="/images/cta.png" />
            </Fragment>
            <div>
              <h1 class="text-2xl font-bold mb-4 md:text-3xl">What Hybrid model provides:</h1>
              <ul class="text-left">
                <li class="mb-2 md:mb-4 text-lg md:text-xl">
                  ✅ <span class="ml-2 md:ml-4">Cut Core <b>Vulnerabilities</b></span>
                </li>
                <li class="mb-2 md:mb-4 text-lg md:text-xl">
                  ✅ <span class="ml-2 md:ml-4">Consulting for secure <b>App Development</b></span>
                </li>
                <li class="mb-2 md:mb-4 text-lg md:text-xl">
                  ✅ <span class="ml-2 md:ml-4">Swift Assessment of <b>New Modules</b></span>
                </li>
                <li class="mb-2 md:mb-4 text-lg md:text-xl">
                  ✅ <span class="ml-2 md:ml-4">Transparent, <b>1000+</b> Global Hacker Collaboration</span>
                </li>
              </ul>
              <h1 class="text-center italic font-bold mt-8 text-lg md:text-xl">
                You can have it for just 15 minutes of your time
              </h1>
            </div>

            <a
              href="/book-a-meeting"
              class="w-full text-center rounded-md py-8 px-7.5 md:px-6 font-semibold cursor-pointer shadow-none md:text-2xl btn-primary"
            >
              Secure your spot
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
